@use "./components/reset";
@use "./components/vars/vars" as *;
@use "./components/layout/header";
@use "./components/layout/home";
@use "./components/layout/lab";
@use "./components/layout/footer";

body{
	color: #000;
}


.main{
	padding-top: 6.5rem;
	min-height: 100vh;
}