@use "../vars/vars" as *;

.footer{
	width: 100%;
	padding: 3rem;
	padding-bottom: 5rem;
	background-color: #000; 
	&__content{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1rem;
		max-width: 1200px;
		margin: auto;
		color: #fff;
		.column{
			&__title{
				font:{
					size: 1.5rem;
				}
				margin-bottom: .4rem;
			}
			&__text{
				font-size: 1.1rem;
				margin-bottom: .4rem;
				transition: color .2s ease-in;
				&:hover{
					color: #f8aa00;
				}
			}
		}
	}
	&__info{
		&-link{
			display: flex;
			align-items: center;
			margin-bottom: .5rem;
			font-size: 1.2rem;
			transition: color .3s ease-in;
			svg{
				font-size: 2rem;
				width: 3rem;
			}
			&:hover{
				color: #0CB1EA;
			}
		}
	}
}